<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-logo" href="/">
        <img src="{{ asset('assets/images/BdDuBloggeur-logo.png') }}" style="max-width:150px;" alt="BdDuBloggeur">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contents
                </a>

               {# <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_pow') }}">Play of the week</a>
                    <a class="dropdown-item" href="{{ path('app_wr') }}">World records</a>
                    <a class="dropdown-item" href="{{ path('app_fs') }}">Funny stuff</a>
                </div>#}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if app.usr == false %}
                        <a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
                        <a class="dropdown-item" href="{{ path('app_register') }}">Register</a>
                    {% endif %}

                    {% if app.usr %}
                        {% if 'ROLE_ADMIN' in app.usr.roles %}
                            <a class="dropdown-item" href="{{ path('admin') }}">Admin Page</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>

                    {% endif %}

                </div>
            </li>
        </ul>
    </div>
</nav>
