{% extends "./base.html.twig" %}


{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                Derniers articles
            </h1>
        </div>
    </div>

    <div class="row justify-content-center mx-5 my-5">
        <a
            href="/post/create"
            class="btn btn-primary mr-3">
            Créer un article
        </a>
    </div>
    <div class="container">
        <div class="col-15">
            <div class="row">
                <!-- Review Item -->
                {% for post in posts %}
                    <div class="text-center pb-5 col-md-4">
                        {% set thumbnailPath = post.thumbnailPath starts with '/uploads/' ? post.thumbnailPath : '/uploads/' ~ post.thumbnailPath %}
                        <img
                            src="{{ thumbnailPath }}"
                            alt=""
                            class="shadow-xl rounded"
                            style="width: 300px; height: 300px;"
                        />

                        <h2 class="text-gray-700 font-bold text-3xl py-2">
                            {{ post.title }}
                        </h2>

                        <span class="text-gray-500">
                            By <span class="italic text-sm text-gray-800"> {{ post.userName }} | {{ post.publishDate|date('d/m/Y') }}
                        </span>
                        <p class="my-4"></p>
                        <a href="/post/{{ post.id }}" class="text border border-secondary text-white text-lg py-3 px-3 rounded bg-success">
                            Lire l'article
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
