{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>S'inscrire</h1>

                {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    <legend>Identité</legend>
                    {{ form_row(registrationForm.nickname) }}
                    {{ form_row(registrationForm.birthday) }}
                </fieldset>

                <fieldset class="mb-3">
                    <legend>Authentification</legend>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password, {
                        label: 'Mot de passe'
                    }) }}
                </fieldset>
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary btn-lg my-3">S'inscrire</button>
                <a href="{{ path('app_login') }}" class="btn btn-secondary">Se connecter</a>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
